# If you want to know how to fill out this file correctly, read README.md

[lastfm]
api_key = yourApiKey
username = yourUsername

check_interval = 5

[discord]
token = yourToken

[app]
title = LAST.FM

endless_mode = false
